In [ ]:
import pandas as pd
import numpy as np 
from sklearn.ensemble import IsolationForest

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import KernelPCA
from sklearn.metrics import r2_score

movie=pd.read_csv('/content/Movie_classification.csv')
house=pd.read_csv('/content/kc_house.csv')
loan=pd.read_csv('/content/loan_classification.csv')
wine=pd.read_csv('/content/winequality-white.csv')

def null_replace(df): #replacing the null values
    for col in df.columns:
        if (df[col].dtypes == "object"): # checking the datatype
            df[col]=df[col].fillna(df[col].mode()[0]) #replacing the null values for catgeory column
        else:
            df[col]=df[col].fillna(df[col].mean()) # replacing the null values for numerical columns
    return df

def label_encoder(df):
    from sklearn.preprocessing import LabelEncoder #doing the labelencoder for category columns
    le = LabelEncoder()
    for col in df.columns:
        if (df[col].dtypes == "object"):
            df[col] = df[col].astype(str)
            df[col] = le.fit_transform(df[col])
    return df


house=null_replace(house)
loan=null_replace(loan)
wine=null_replace(wine)
movie=null_replace(movie)

In [4]:
movie=label_encoder(movie)

In [6]:
movie.head()

   Marketing expense  Production expense  ...  Collection  Start_Tech_Oscar
0            20.1264               59.62  ...       48000                 1
1            20.5462               69.14  ...       43200                 0
2            20.5458               69.14  ...       69400                 1
3            20.6474               59.36  ...       66800                 1
4            21.3810               59.36  ...       72400                 1

[5 rows x 19 columns]

In [15]:
x= movie.iloc[:,:-1] #independent
target_name=movie['Start_Tech_Oscar'] # dependent

In [17]:
def z_detect_outliers(x,target_name):
    
    z_outliers=[]
    cols=n_cols
    if user_columns_dtypes[target_name] in ['int', 'float']:
        cols.append(target_name)
    for i in cols: 
        x['z'+i]=(x[i]-x[i].mean())/x[i].std() #computing z score
        z_outliers.append(len(x[(x['z'+i]<-3) | (x['z'+i]>3 )])) # removing outliers -3 and 3+
        x.drop('z'+i,axis=1,inplace=True) #drop columes unnecessary
    z_contamination=sum(z_outliers)/x.shape[0] # percentage of outliers
    print(z_contamination)
    
    model=IsolationForest(contamination=z_contamination) #IsolationForest
    model.fit(x[cols]) #fitting the dataframe
    x['z_predict_outliers']=model.predict(x[cols]) #predicting the Outliers
    return x

In [ ]:
z_detect_outliers(x,target_name)