In [1]:
import pandas as pd #importing pandas
import numpy as np #importing numpy
import matplotlib.pyplot as plt #importing matplot
import seaborn as sns #importing seaborn

In [2]:
df=pd.read_csv('ml360datasets/loan_classification.csv') #reading the dataset

In [3]:
def null_replace(df): #define fun for replacing the null values
    for col in df.columns:
        if (df[col].dtypes == "object"): # checking the datatype
            df[col]=df[col].fillna(df[col].mode()[0]) #replacing the null values for catgeory column
        else:
            df[col]=df[col].fillna(df[col].mean()) # replacing the null values for numerical columns
    return df

def label_encoder(df): #define fun for label encoder 
    from sklearn.preprocessing import LabelEncoder #doing the labelencoder for category columns
    le = LabelEncoder() # giving variable for labelencoder
    for col in df.columns:  
        if (df[col].dtypes == "object"): #checking the data type of the column
            df[col] = df[col].astype(str) 
            df[col] = le.fit_transform(df[col]) #applying the label encoder
    return df #returns dataframe

In [4]:
df['Gender']=df['Gender'].replace("#",df['Gender'].mode()[0]).replace("?",df['Gender'].mode()[0]) #replacing the special char

In [5]:
df=null_replace(df) #replacing the null values

In [6]:
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype('object') #converting the data type
df['Credit_History']=df['Credit_History'].astype('object') #converting the data type

# If P-value is less Than 0.05 we Reject H0 (Null Hypothesis)

# If P-value is greater Than 0.05 we Fail to reject H0 (Null Hypothesis)

In [7]:
num_cols=list(df.select_dtypes(include='number').columns)
cat_cols=list(df.select_dtypes(include='object').columns)

In [8]:
num_cols,cat_cols

(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount'],
 ['Loan_ID',
  'Gender',
  'Married',
  'Dependents',
  'Education',
  'Self_Employed',
  'Loan_Amount_Term',
  'Credit_History',
  'Property_Area',
  'Loan_Status'])

In [9]:
df[target].unique()

NameError: name 'target' is not defined

# One Sample Test

In [ ]:
# One sample t test will needed Only one Numerical column to perform the test
# We have to need expected value to do the test
# the sample can be less than or equal to 30

In [125]:
#H0: Sample mean (x̅) = Hypothesized Population mean (µ)

#H1: Sample mean (x̅) != Hypothesized Population mean (µ)
def One_sample_ttest(df):
    H0=str(input('Enter the Null Hypothesis : '))  # Will enter the Null Hypothesis statement
    H1=str(input('Enter the Alternate Hypothesis : ')) # Will enter the Alternate Hypothesis statement
    i=str(input('Enter the Numerical Column name : ')) #Will enter the Numerical Column Name
    from scipy.stats import ttest_1samp #Importing the ttest_1samp
    if df[i].dtype in ('int64','float64','float32','int32'): #checking the data type of given column
        value=int(input('Enter the expected mean values : ')) #Will enter the  value
        sample=df[i].sample(n = 30) #taking the sample
        tscore, pvalue= ttest_1samp(sample, popmean=value) #implementing the ttest_1samp test 
        if pvalue <=0.05: #checking the p_value
            print('We accepts Alternate Hypothesis : ',H1)
        else:
            print('We fail to rejects Null Hypothesis : ',H0)
    else:
        print('Please Enter the Numerical Column')

In [55]:
One_sample_rtest(df)

Enter the Null Hypothesis : Sample mean (x̅) = Hypothesized Population mean (µ)
Enter the Alternate Hypothesis : Sample mean (x̅) != Hypothesized Population mean (µ)
Enter the Numerical Column name : Credit_History
Please Enter the Numerical Column

# One sample  test

In [ ]:
# One sample Z test will needed Only one Numerical column to perform the test
# We have to need expected value to do the test
# the sample can be greater than or equal to 30

In [13]:
#H0: Sample mean (x̅) = Hypothesized Population mean (µ)

#H1: Sample mean (x̅) != Hypothesized Population mean (µ)

def One_sample_ztest(df):  #fun for One sample z test 
    H0=str(input('Enter the Null Hypothesis : '))  # Will enter the Null Hypothesis statement
    H1=str(input('Enter the Alternate Hypothesis : '))  # Will enter the Alternate Hypothesis statement
    i=str(input('Enter the Numerical Column name : '))  #Will enter the Numerical Column Name
    from statsmodels.stats.weightstats import ztest as ztest  #importing the ztest
    if df[i].dtype in ('int64','float64','float32','int32'): #checking the data type for numrical 
        value=int(input('Enter the expected mean values : ')) # Will enter the expected value
        sample=df[i].sample(n = 60) # taking sample 
        tscore, pvalue= ztest(sample, value=value) #implementng the  z test
        if pvalue <=0.05: #checking the p value
            print('We accepts Alternate Hypothesis : ',H1)
        else:
            print('We fail to rejects Null Hypothesis : ',H0)
    else:
        print('Please Enter the Numerical Column')

In [14]:
One_sample_ztest(df)

Enter the Null Hypothesis : hi
Enter the Alternate Hypothesis : hello
Enter the Numerical Column name : ApplicantIncome
Enter the expected mean values : 1
We accepts Alternate Hypothesis :  hello

# Two sample t_test

In [ ]:
# To perfrom Two sample t test we need First variable has a Numerical Column
# We need Second variable has Numerical or Categorical Variable  and the Categorical Variable must have 2 catergories in it

In [127]:
#H0: µ1 = µ2 (the two population means are equal)

#HA: µ1 ≠µ2 (the two population means are not equal)

def two_sample_test(df):
    H0=str(input('Enter the Null Hypothesis : '))  # Will enter the Null Hypothesis statement
    H1=str(input('Enter the Alternate Hypothesis : ')) # Will enter the Alternate Hypothesis statement
    i=str(input('Enter the Numerical Column name : ')) # Will enter the Numerical Column Name
    j=str(input('Enter the Column name : ')) #Will enter the  Column Name
    from scipy.stats import ttest_ind # importing the ttest_ind
    if df[i].dtype in ('int64','float64','float32','int32'): # Checking the dtype
        pass # if its numerical column we are passing it 
        if df[j].dtype in ('int64','float64','float32','int32'): # Checking the dtype
            from scipy.stats import shapiro #implementing the shapiro
            if shapiro(df[i])[1] and shapiro(df[j])[1] <=0.05: # checking the p value for normality 
                from scipy.stats import mannwhitneyu # importing the  mannwhitneyu
                if mannwhitneyu(df[i],df[j])[1]<= 0.05: #implementing the mannwhitneyu and checking the p value
                    print('We accepts Alternate Hypothesis : ',H1)
                else:
                    print('We fail to rejects Null Hypothesis : ',H0)
            else:
                ttest_ind(df[i],df[j]) # if it doesnt follow the normality we perfrom ttest_ind
                if ttest_ind(df[i],df[j])[1] <=0.05: #we are checking the p value for ttest_ind
                    print('We accepts Alternate Hypothesis : ',H1)
                else:
                    print('We fail to rejects Null Hypothesis : ',H0)
        else :
            if len(df[j].unique()) == 2: #if it is a cateorical variable checking the categories in that column
                pass #if the column has 2 categories we are proceding forward
                from scipy.stats import shapiro #importing shapiro
                if shapiro(df[df[j]==(df[j].unique()[0])][i])[1] and shapiro(df[df[j]==(df[j].unique()[1])][i])[1] <=0.05:#checking normality
                    from scipy.stats import mannwhitneyu #importing mannwhitneyu
                    if mannwhitneyu(df[df[j]==(df[j].unique()[0])][i],df[df[j]==(df[j].unique()[1])][i])[1]<= 0.05: #checking the p value of mannwhitneyu
                        print('We accepts Alternate Hypothesis : ',H1)
                    else:
                        print('We fail to rejects Null Hypothesis : ',H0)
                else: # if it doesnt follow the normality we perfrom ttest_ind
                    ttest_ind(df[df[j]==(df[j].unique()[0])][i],df[df[j]==(df[j].unique()[1])][i]) #impelementing the ttest_ind
                    if ttest_ind(df[df[j]==(df[j].unique()[0])][i],df[df[j]==(df[j].unique()[1])][i])[1] <= 0.05: #checking p value
                        print('We accepts Alternate Hypothesis : ',H1)
                    else:
                        print('We fail to rejects Null Hypothesis : ',H0)
            else:
                print('The column',j,'has more than 2 categories So you need to use Anova')
    else:
        print('The column', i, 'is not Numerical')

In [102]:
two_sample_test(df)

Enter the Null Hypothesis : µ1 = µ2 (the two population means are equal)
Enter the Alternate Hypothesis : µ1 ≠µ2 (the two population means are not equal)
Enter the Numerical Column name : ApplicantIncome
Enter the Column name : CoapplicantIncome
We accepts Alternate Hypothesis :  µ1 ≠µ2 (the two population means are not equal)

# Oneway Anova

In [ ]:
# To perfrom Anova test we need First variable has a Numerical Column
# We need Second variable has Numerical or Categorical Variable  and the Categorical Variable must have 2 or
# more catergories in it

In [128]:
#H0: All the groups have same means

#H0: All the groups have no difference in means

def oneway_anova(df):
    H0=str(input('Enter the Null Hypothesis : '))  # Will enter the Null Hypothesis statement
    H1=str(input('Enter the Alternate Hypothesis : ')) # Will enter the Alternate Hypothesis statement
    i=str(input('Enter the Numerical Column name : ')) # Will enter the Numerical Column Name
    j=str(input('Enter the Categorical Column name : ')) # Will enter the Categorical Column Name
    import statsmodels.api as sm #importing the statsmodel
    if df[i].dtype in ('int64','float64','float32','int32'): #checking the datatype
        pass
        if df[j].dtype == 'O' and len(df[j].unique()) >= 2 : #checking the data type and no.of categories in it 
            anova = ols('df[i]~df[j]', data=df).fit() #fiting the ols
            anova_table = sm.stats.anova_lm(anova, type=1) #implementing the anova
            if anova_table['PR(>F)'][0] <=0.05: #checking the p value
                print('We accepts Alternate Hypothesis : ',H1)
            else:
                print('We fail to rejects Null Hypothesis : ',H0)
        else:
            print('The column',j,'has to be Categorical column')
    else:
        print('The column', i, 'is not Numerical')

In [104]:
oneway_anova(df)

Enter the Null Hypothesis : All the groups have same means
Enter the Alternate Hypothesis : All the groups have no difference in means
Enter the Numerical Column name : ApplicantIncome
Enter the Categorical Column name : Dependents
We accepts Alternate Hypothesis :  All the groups have no difference in means

# Chisquare

In [ ]:
# To perform Chisquare we need two Categorical variables

In [129]:
#Null hypothesis: Assumes that there is no association between the two variables.

#Alternative hypothesis: Assumes that there is an association between the two variables.

def chisquare(df):
    H0=str(input('Enter the Null Hypothesis : '))  # Will enter the Null Hypothesis statement
    H1=str(input('Enter the Alternate Hypothesis : '))  # Will enter the Alternate Hypothesis statement
    i=str(input('Enter the Categorical Column name : '))  # Will enter the Categorical Column Name
    j=str(input('Enter the Categorical Column name : ')) # Will enter the Categorical Column Name
    import pandas as pd  #importing pandas 
    import scipy.stats as st #importing stats
    if (df[i].dtype and df[j].dtype) == 'O': #checking data type
        ct=pd.crosstab(df[i],df[j]) #computing crosstab
        if st.chi2_contingency(ct)[1] <=0.05: #checking p value
            print('We accepts Alternate Hypothesis : ',H1)
        else:
            print('We fail to rejects Null Hypothesis : ',H0)
    else:
        print('The',i,'and',j,'has to be Categorical columns')

In [106]:
chisquare(df)

Enter the Null Hypothesis : Assumes that there is no association between the two variables.
Enter the Alternate Hypothesis : Assumes that there is an association between the two variables.
Enter the Numerical Column name : Education
Enter the Categorical Column name : Credit_History
We fail to rejects Null Hypothesis :  Assumes that there is no association between the two variables.

-------------------------------------------------------------------------------------------------------------------------------

In [107]:
df1=pd.read_csv('ml360datasets/kc_house.csv') #reading the dataset

In [111]:
num_cols=list(df1.select_dtypes(include='number').columns)
cat_cols=list(df1.select_dtypes(include='object').columns)

In [112]:
num_cols,cat_cols

(['id',
  'price',
  'bedrooms',
  'bathrooms',
  'sqft_living',
  'sqft_lot',
  'floors',
  'waterfront',
  'view',
  'condition',
  'grade',
  'sqft_above',
  'sqft_basement',
  'yr_built',
  'yr_renovated',
  'zipcode',
  'lat',
  'long',
  'sqft_living15',
  'sqft_lot15'],
 [])

In [113]:
df1['bedrooms']=df1['bedrooms'].astype('object') #converting the data type
df1['bathrooms']=df1['bathrooms'].astype('object') #converting the data type
df1['floors']=df1['floors'].astype('object') #converting the data type
df1['waterfront']=df1['waterfront'].astype('object') #converting the data type
df1['view']=df1['view'].astype('object') #converting the data type
df1['condition']=df1['condition'].astype('object') #converting the data type
df1['grade']=df1['grade'].astype('object') #converting the data type

In [114]:
num_cols=list(df1.select_dtypes(include='number').columns)
cat_cols=list(df1.select_dtypes(include='object').columns)

In [115]:
num_cols,cat_cols

(['id',
  'price',
  'sqft_living',
  'sqft_lot',
  'sqft_above',
  'sqft_basement',
  'yr_built',
  'yr_renovated',
  'zipcode',
  'lat',
  'long',
  'sqft_living15',
  'sqft_lot15'],
 ['bedrooms',
  'bathrooms',
  'floors',
  'waterfront',
  'view',
  'condition',
  'grade'])

In [122]:
df1['bedrooms'].unique()
#Null hypothesis: Assumes that there is no association between the two variables.

#Alternative hypothesis: Assumes that there is an association between the two variables.

array([6, 4, 3, 5, 2, 1, 7, 9], dtype=object)

In [131]:
One_sample_ttest(df1)

Enter the Null Hypothesis : Sample mean (x̅) = Hypothesized Population mean (µ)
Enter the Alternate Hypothesis : Sample mean (x̅) != Hypothesized Population mean (µ)
Enter the Numerical Column name : sqft_living
Enter the expected mean values : 8000
We accepts Alternate Hypothesis :  Sample mean (x̅) != Hypothesized Population mean (µ)

In [134]:
One_sample_ztest(df1)

Enter the Null Hypothesis : Sample mean (x̅) = Hypothesized Population mean (µ)
Enter the Alternate Hypothesis : Sample mean (x̅) != Hypothesized Population mean (µ)
Enter the Numerical Column name : sqft_living
Enter the expected mean values : 8000
We accepts Alternate Hypothesis :  Sample mean (x̅) != Hypothesized Population mean (µ)

In [136]:
two_sample_test(df1)

Enter the Null Hypothesis : µ1 = µ2 (the two population means are equal)
Enter the Alternate Hypothesis : µ1 ≠µ2 (the two population means are not equal)
Enter the Numerical Column name : sqft_above
Enter the Column name : sqft_basement
We accepts Alternate Hypothesis :  µ1 ≠µ2 (the two population means are not equal)

In [137]:
oneway_anova(df1)

Enter the Null Hypothesis : All the groups have same means
Enter the Alternate Hypothesis : All the groups have no difference in means
Enter the Numerical Column name : price
Enter the Categorical Column name : bedrooms
We accepts Alternate Hypothesis :  All the groups have no difference in means

In [138]:
chisquare(df1)

Enter the Null Hypothesis : Assumes that there is no association between the two variables.
Enter the Alternate Hypothesis : Assumes that there is an association between the two variables.
Enter the Numerical Column name : bedrooms
Enter the Categorical Column name : condition
We fail to rejects Null Hypothesis :  Assumes that there is no association between the two variables.